git+https://${MATERIAL_INSIDERS}@github.com/whallin/local-mkdocs-material-insiders.git
pillow
cairosvg
mkdocs-git-committers-plugin-2
mkdocs-redirects
gitpython>=3.1.41 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability